.modal{
    background-color: rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.option{
    background-color: white;
    width: 400px;
    height: 200px;
    padding: 10px;
}
.type{
    padding-bottom: 5px;
    border-bottom:solid 1px black;
}
.type h1{
    margin: 0;
}
.type button{
    border: none;
    background-color: #e0ffff;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
}
.name h1{
    margin: 0;
}
.name input{
    height: 20px;
}
.decision{
    border: none;
    width: 70px;
    height: 40px;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
    background-color: red;
    font-weight: bold;
}